        
        #form {
            text-align: left;
            border-radius: 500px;
        }
        
       #membership {
            margin-top: 7%;
            text-align: left;
            display: -moz-inline-stack;
            display: inline-block;
            width: 390px;
            height: 65px;
            line-height: 62px;
            vertical-align: text-middle;
            color: grey;
            font-family: Zenhei;
            font-size: 25px;
        }

        #membership:hover {
            background:purple;
            color: white;
            text-align: center;
        } 



        .HeroImage {
            background-image: url("../assets/images/granada.jpg");
        }
